@model IEnumerable<SMAUG.Models.Item>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Ite_Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ite_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ite_Collection)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ite_Edition)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ite_Editor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ite_ISBN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ite_ProdDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Ite_Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ite_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ite_Collection)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ite_Edition)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ite_Editor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ite_ISBN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ite_ProdDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Ite_Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Ite_Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Ite_Id })
        </td>
    </tr>
}

</table>
