@model SMAUG.Models.Publication

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Publication</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Pub_Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pub_Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pub_Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pub_Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pub_SeriesTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pub_SeriesTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pub_Volume)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pub_Volume)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Person.Per_LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Person.Per_LastName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Pub_Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
