@using SMAUG.Dto

@model SMAUG.Models.ViewModels.PublicationListViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Title
        </th>
        <th>
            Date
        </th>
        <th>
            Series Title
        </th>
        <th>
            Volume
        </th>
        <th>
            Author
        </th>
        <th></th>
    </tr>

@foreach (DtoPublication publication in Model.Publications) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => publication.Pub_Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => publication.Pub_Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => publication.Pub_SeriesTitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => publication.Pub_Volume)
        </td>
        <td>
            @Html.DisplayFor(modelItem => publication.Author.FullName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id= publication.Pub_Id }) |
            @Html.ActionLink("Details", "Details", new { id= publication.Pub_Id }) |
            @Html.ActionLink("Delete", "Delete", new { id= publication.Pub_Id })
        </td>
    </tr>
}

</table>
