@model SMAUG.Edmx.Person

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Person</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Per_LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Per_LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Per_FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Per_FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Per_Birth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Per_Birth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Per_Death)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Per_Death)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Per_Job)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Per_Job)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Per_Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
