@using SMAUG.Dto;

@model SMAUG.Models.ViewModels.PersonListViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            LastName
        </th>
        <th>
            FirstName
        </th>
        <th>
            Birth
        </th>
        <th>
            Death
        </th>
        <th>
            Job
        </th>
        <th></th>
    </tr>

    @foreach (DtoPerson person in Model.Persons)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => person.Per_LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => person.Per_FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => person.Per_Birth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => person.Per_Death)
            </td>
            <td>
                @Html.DisplayFor(modelItem => person.Per_Job)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = person.Per_Id }) |
                @Html.ActionLink("Details", "Details", new { id = person.Per_Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = person.Per_Id })
            </td>
        </tr>
    }

</table>
