@model SMAUG.Edmx.Arda

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Arda</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Ard_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ard_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ard_Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ard_Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ard_Race)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ard_Race)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ard_People)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ard_People)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ard_FirstAppearance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ard_FirstAppearance)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Ard_Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
