@using SMAUG.Dto;

@model SMAUG.Models.ViewModels.ArdaViewModels.ArdaListViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Name
        </th>
        <th>
            Type
        </th>
        <th>
            Race
        </th>
        <th>
            People
        </th>
        <th>
            First Appearance
        </th>
        <th></th>
    </tr>

    @foreach (DtoArda arda in Model.Ardas)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => arda.Ard_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => arda.Ard_Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => arda.Ard_Race)
            </td>
            <td>
                @Html.DisplayFor(modelItem => arda.Ard_People)
            </td>
            <td>
                @Html.DisplayFor(modelItem => arda.Ard_FirstAppearance)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = arda.Ard_Id }) |
                @Html.ActionLink("Details", "Details", new { id = arda.Ard_Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = arda.Ard_Id })
            </td>
        </tr>
    }

</table>
