@model IEnumerable<SMAUG.Edmx.Arda>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Ard_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ard_Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ard_Race)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ard_People)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ard_FirstAppearance)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Ard_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ard_Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ard_Race)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ard_People)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ard_FirstAppearance)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Ard_Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Ard_Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Ard_Id })
        </td>
    </tr>
}

</table>
